.headbox {
  display: block;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  padding-top: 100px;
  background-color: black;
  text-align: left;
}
.headbox[dir="rtl"] {
  text-align: right;
}
.headbox .bigheader {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: white;
}
.headbox[dir="rtl"] .bigheader {
  text-align: right;
}
.headbox > h2 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.headbox[dir="rtl"] > h2 {
  text-align: right;
}
.headbox > p {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  color: white;
}
.headbox[dir="rtl"] > p {
  text-align: right;
}
.headbox[dir="rtl"] ul {
  text-align: right;
  direction: rtl;
}
